.results {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.results > div:nth-child(1) {
    flex-shrink: 0;
}

.results > button {
    flex-shrink: 0;
    margin-bottom: .5rem;
}


