.App {
    height: 100vh;
    background: linear-gradient(176deg, rgba(9, 6, 18, 1) 0%, rgba(23, 31, 51, 1) 50%, rgba(28, 77, 59, 1) 100%);
}

.App * {
    color: #dedede;
    font-family: Calibri,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}